.DS_Store
.project
.strong-pm
db_volume
coverage
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log
logs/

.vscode
docker-compose.debug.yml

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.env
